:root {
    --dark-bg: #1f2937;
    --hero-main-text: #f9faf8;
    --hero-secondary-text: hsl(220, 13%, 91%);
    --button: #3882f6;
}

* {
    margin:0;
    padding: 0;
    font-family: roboto;
}

body {
    background: var(--dark-bg);
}

h1 {
    font-size: 24px;
    color: var(--hero-main-text);
}

h2 {
    font-size: 48px;
    color: var(--hero-main-text);
    font-weight: bolder;
}

h3 {
    background-color: var(--hero-main-text);
    color: var(--dark-bg);
    font-size: 36px;
    font-weight: bolder;
    padding-top: 40px;
}

a {
    text-decoration: none;
}

.wrapper {
    margin: 0px 200px;
}

.flex {
    display: flex;
}

.container {
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    color: var(--hero-secondary-text);
    font-size: 18px;
    border-bottom: 1px solid transparent;
}

.links a:hover {
    border-bottom: 1px solid var(--hero-secondary-text);
}

.hero {
    margin-top: 120px;
    margin-bottom: 120px;
    height: 250px;
    gap: 50px;
}

.hero-left {
    flex-grow: 1;
    flex-basis: 0;
    font-size: 18px;
    color: var(--hero-secondary-text);
    height: 100%;
}

.hero-right {
    flex-grow: 1;
    flex-basis: 0;
    height:100%;
}

.hero-image {
    width: 100%;
    max-height: 100%;
    flex-basis: 0;
}

.sign-up {
    margin-top: 20px;
    background-color: var(--button);
    color: var();
    font-size: 18px;
    padding: 8px 30px;
    border-radius: 8px;
    border: none;
}

.information {
    background-color: var(--hero-main-text);
    padding-bottom: 80px;
}

.info-wrapper {
    margin: 0px 200px;
    background-color: var(--hero-main-text);
    justify-content: center;
    align-items: center;
}

.info-image-container {
    margin: 0px 240px;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.frame  {
    border: 4px solid var(--button);
    height: 160px;
    border-radius: 18px;
}

.frame img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 14px;
}

.info-image p {
    padding-top: 10px;
    color: var(--dark-bg);
    font-size: 18px;
    text-align: center;
}

.quote {
    height: 400px;
    background-color: var(--hero-secondary-text);
    margin: 0px 240px;
    justify-content: center;
    align-items: center;
}

.quote-wrapper {
    background-color: var(--hero-secondary-text);
}

.quote p {
    font-size: 36px;
    color: var(--dark-bg);
}

